*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.backdest{
    background-image: url(dest.png), url(Maskdest.png);
    padding-top: 50px;
    padding-right: 65%;
    padding-bottom: 65%;
    mix-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;  
}

.indice{
    display:flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 1292px;
    height: 96px;
    left: 55px;
    top: 40px;

}

.linha{
    position: relative;
    right: -20px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    height: 3px;
    width: 100%;
}

.img{
    height: 50px;
    width: 50px;
}

.linha2{
    position: relative;
    right: -20px;
    background-color:black;
    height: 3px;
    width: 140px;
    top: 47%;
    left: 17.15%;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 830px;
    height: 96px;
    left: 610px;
    top: 40px;
    background: grey;
    backdrop-filter: blur(40.7742px);
}

.buttonnav{
    width: 542px;
    height: 19px;
    left: 733px;
    top: 79px;
}

.btn_home{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 15%;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 11px;
}

.btn_dest{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 20%;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 11px;
}

.btn_crew{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 13%;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 11px;
}

.btn_tec{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 20%;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 11px;
}

.imglua{
    position: absolute;
    width: 446px;
    height: 446px;
    left: 17%;
    top: 343px;
}



.mundos{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 50%;
    width: 35%;
    left: 61%;
    top: 47.50%;
    background-color: #eb0404;
}



.lua{
    height: 172px;
    left: 0%;
    right: 1.11%;
    top: 10%;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 172px;
    /* identical to box height */
    color: #00fb19;
}

.linhalua{
    right: -20px;
    background-color:rgb(205, 240, 10);
    height: 3px;
    width: 100%;
    left: 0.22%;
    right: 0%;
    top: 80.93%;
    bottom: 18.86%;
}

.distance{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 14%;
    bottom: 0%;
    background-color: #fffb00;
}

.tempo{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 14%;
    bottom: 0%;
    background-color: #07fd0b;
}

.buttonmun{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07fd0b;

    
}

.btn_moon{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 44px;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 6px;
}

.btn_mars{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 44px;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 11px;
}

.btn_europa{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 44px;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 13px;
}

.btn_titan{
    background-color: var(--desativado);
    color: var(--hover);
    border: none;
    width: 44px;
    cursor: pointer;
    margin: 20px 15px;
    margin-top: 5px;
    margin-left: 24px;
}

.texmon{
    font-size: 20px;
    font-stretch: expanded;
}